[prob]
#ndcg_k
ndcg_k = 10

# regularization parameter
lambda = 0

# learning_rate 
learning_rate = 0.001

# relative_learning_rate 
relative_learning_rate = 0.1

# pairwise update method 1:coordinate descent  2:update U using pointwise, update V using pairwise.
pairwise_method = 1

# model rank (for low-rank approximation)
rank = 20

# the maximum number of outer iterations
max_iterations = 30

# stopping criterion
eps = 0.01

# evaluate using test set after each outer iteration? (1 if yes, 0 otherwise) 
initialized = true

# file names for trainig and test sets
train_file          = ../../data/ml1m_train_20.txt
train_comp_file     =  ../../data/ml1m_train_comp_20.txt
test_file           =  ../../data/ml1m_test_20.txt

# if alpha = 1 only update pointwise loss
alpha = 0

# if beta =1 only update pairwise loss 
beta = 1

show_seperate_loss = false

show_each_iteration = true

